name: Windows-RDP

on: workflow_dispatch # Permite activarlo manualmente

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Descargando e Instalando Ngrok
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Expand-Archive ngrok.zip
    - name: Autenticando Ngrok
      run: .\ngrok\ngrok.exe authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Habilitando Acceso RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1
    - name: Creando Túnel Ngrok
      run: Start-Process .\ngrok\ngrok.exe -ArgumentList "tcp 3389"
    - name: Mantener Vivo y Mostrar Credenciales
      run: |
        $lue = (Get-Content -Path  C:\Users\runneradmin\.ngrok2\ngrok.yml -ErrorAction SilentlyContinue)
        Write-Host "Usuario: runneradmin"
        Write-Host "Contraseña: (La que definas o usa la de por defecto del sistema)"
        cmd /c "control userpasswords2" # Esto es para que la sesión no se cierre
        powershell -NoExit
